{"filter":false,"title":".gitignore","tooltip":"/naganocake/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":32,"column":9},"end":{"row":33,"column":0},"action":"insert","lines":["",""],"id":8},{"start":{"row":33,"column":0},"end":{"row":34,"column":0},"action":"insert","lines":["",""]}],[{"start":{"row":34,"column":0},"end":{"row":34,"column":3},"action":"insert","lines":[".c9"],"id":9}]]},"ace":{"folds":[],"scrolltop":315.5,"scrollleft":0,"selection":{"start":{"row":34,"column":3},"end":{"row":34,"column":3},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":21,"state":"start","mode":"ace/mode/ini"}},"timestamp":1626752696046,"hash":"3190db67b7ce40863469cede076a98eee93b7889"}